<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <app-account-generate  #account class="col-4"></app-account-generate>
                <app-transaction-generate
                  #transaction
                  class="col-4"
                ></app-transaction-generate>
                <div class="col-3 d-flex flex-column-reverse">
                  <div class="">
                    <button class="btn btn-primary text-white" [disabled]="!account.accountNumber" (click)="generateTransaction()">Generate</button>
                  </div>
                </div>
            </div>
        </div>
      </div>
</div>

<div class="row">
  <app-account-info-list #accountInfos></app-account-info-list>
</div>

